*.log
logs/
**/logs/
**/out.log
**/*.tmp

.DS_Store
Thumbs.db

.vscode/
.idea/
*.iml

target/
**/target/

.gradle/
**/.gradle/
build/
**/build/

*.jar
*.war
*.class

node_modules/
**/node_modules/

dist/
**/dist/
.angular/

.env
**/.env
.env.local
.env.*.local

*.swp
*.swo
tmp/
**/tmp/

coverage/
**/coverage/

*.js.map
